        <footer class="footer">
            <div class="footer__logo">
                <img src="/img/logo-green-small.png" alt="Adventour logo">
            </div>
            <ul class="footer__nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Download apps</a></li>
                <li><a href="#">Become a guide</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <p class="footer__copyright">© 2020 by Jayesh Agarwal.</p>
        </footer>
        <script src="/js/mapbox.js"></script>
        <script src="/js/error.js"></script>
    </body>
</html>